In [172]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import StandardScaler

#   Trabalho de Inteligência Artificial:
#   João Vitor de Oliveira Lima
#   Álefi Marques
#   William Manoel Mesquita
#   André Luiz
#   Vitor Botome
#

In [173]:
dataframe = pd.read_csv('Pokemon.csv')
print(dataframe.head(10))

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  45      49       49
1  2                    Ivysaur  Grass  Poison    405  60      62       63
2  3                   Venusaur  Grass  Poison    525  80      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4                 Charmander   Fire     NaN    309  39      52       43
5  5                 Charmeleon   Fire     NaN    405  58      64       58
6  6                  Charizard   Fire  Flying    534  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9  7                   Squirtle  Water     NaN    314  44      48       65

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False
8      159      115    100           1      False
9       50       64     43           1      False

In [174]:
print(dataframe.tail(10))

         #          Name    Type 1   Type 2  Total   HP  Attack  Defense  \
1094  1016   Fezandipiti    Poison    Fairy    555   88      91       82
1095  1017       Ogerpon     Grass      NaN    550   80     120       84
1096  1018    Archaludon     Steel   Dragon    600   90     105      130
1097  1019     Hydrapple     Grass   Dragon    540  106      80      110
1098  1020  Gouging Fire      Fire   Dragon    590  105     115      121
1099  1021   Raging Bolt  Electric   Dragon    590  125      73       91
1100  1022  Iron Boulder      Rock   Dragon    590   90     120       80
1101  1023    Iron Crown     Steel  Psychic    590   90      72      100
1102  1024     Terapagos    Normal      NaN    700  160     105      110
1103  1025     Pecharunt    Poison    Ghost    600   88      88      160

      Sp. Atk  Sp. Def  Speed  Generation  Legendary
1094       70      125     99           9       True
1095       60       96    110           9       True
1096      125       65     85           9       True
1097      120       80     44           9       True
1098       65       93     91           9       True
1099      137       89     75           9       True
1100       68      108    124           9       True
1101      122      108     98           9       True
1102      130      110     85           9       True
1103       88       88     88           9       True

In [175]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           1104 non-null   int64
 1   Name        1104 non-null   object
 2   Type 1      1104 non-null   object
 3   Type 2      592 non-null    object
 4   Total       1104 non-null   int64
 5   HP          1104 non-null   int64
 6   Attack      1104 non-null   int64
 7   Defense     1104 non-null   int64
 8   Sp. Atk     1104 non-null   int64
 9   Sp. Def     1104 non-null   int64
 10  Speed       1104 non-null   int64
 11  Generation  1104 non-null   int64
 12  Legendary   1104 non-null   bool
dtypes: bool(1), int64(9), object(3)
memory usage: 104.7+ KB

In [176]:
dataframe.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000,1104.000000
mean,503.437500,439.358696,70.655797,80.220109,74.507246,72.951993,72.000906,68.994565,4.640399
std,292.665209,119.710538,26.448074,32.103379,30.715728,32.415431,27.315772,29.724086,2.598249
min,1.000000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,254.750000,330.000000,50.000000,55.000000,50.000000,50.000000,50.000000,45.000000,3.000000
50%,492.500000,460.000000,68.000000,76.000000,70.000000,65.000000,70.000000,65.000000,4.000000
75%,749.250000,520.000000,85.000000,100.000000,90.250000,95.000000,90.000000,90.000000,7.000000
max,1025.000000,780.000000,255.000000,190.000000,230.000000,194.000000,230.000000,200.000000,9.000000

In [177]:
dataframe.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [178]:
pokemon_names = dataframe["Name"]
pokemon_legendary = dataframe['Legendary']

# Removendo colunas desnecessárias
novo_dataframe = dataframe.drop(columns=['#','Total'], inplace=False)
novo_dataframe.columns

Index(['Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [179]:
novo_dataframe.isnull().sum()

Name            0
Type 1          0
Type 2        512
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [180]:
# tratamento de nullos
novo_dataframe['Type 2'] = novo_dataframe['Type 2'].fillna('NoType')
novo_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        1104 non-null   object
 1   Type 1      1104 non-null   object
 2   Type 2      1104 non-null   object
 3   HP          1104 non-null   int64
 4   Attack      1104 non-null   int64
 5   Defense     1104 non-null   int64
 6   Sp. Atk     1104 non-null   int64
 7   Sp. Def     1104 non-null   int64
 8   Speed       1104 non-null   int64
 9   Generation  1104 non-null   int64
 10  Legendary   1104 non-null   bool
dtypes: bool(1), int64(7), object(3)
memory usage: 87.5+ KB

In [181]:
# Contagem de pokemons por tipo 1
counts = novo_dataframe["Type 1"].value_counts()
print(counts)

Type 1
Water       140
Normal      123
Grass       108
Bug          89
Fire         70
Psychic      70
Electric     67
Rock         61
Dark         48
Dragon       45
Ghost        44
Ground       42
Poison       42
Fighting     42
Steel        41
Ice          31
Fairy        29
Flying       10
bug           1
ice           1
Name: count, dtype: int64

In [182]:
# contagem de pokemons por tipo 2
counts = novo_dataframe["Type 2"].value_counts()
print(counts)

Type 2
NoType      512
Flying      110
Psychic      47
Poison       44
Fighting     40
Ground       40
Fairy        40
Dragon       37
Steel        34
Ghost        32
Grass        31
Dark         28
Water        22
Ice          20
Fire         18
Rock         16
Normal       13
Electric     10
Bug           9
ice           1
Name: count, dtype: int64

In [183]:
# correção de typos (Escrita errada de registros)

# Correção específica para Type 1
novo_dataframe["Type 1"] = (
    novo_dataframe["Type 1"]
        .replace({"ice": "Ice", "bug": "Bug"})
)

# Correção específica para Type 2
novo_dataframe["Type 2"] = (
    novo_dataframe["Type 2"]
        .replace({"ice": "Ice", "bug": "Bug"})
)

counts = novo_dataframe["Type 1"].value_counts()
print(counts)

Type 1
Water       140
Normal      123
Grass       108
Bug          90
Fire         70
Psychic      70
Electric     67
Rock         61
Dark         48
Dragon       45
Ghost        44
Fighting     42
Ground       42
Poison       42
Steel        41
Ice          32
Fairy        29
Flying       10
Name: count, dtype: int64

In [184]:
counts = novo_dataframe["Type 2"].value_counts()
print(counts)

Type 2
NoType      512
Flying      110
Psychic      47
Poison       44
Ground       40
Fighting     40
Fairy        40
Dragon       37
Steel        34
Ghost        32
Grass        31
Dark         28
Water        22
Ice          21
Fire         18
Rock         16
Normal       13
Electric     10
Bug           9
Name: count, dtype: int64

In [185]:
# Criar um Ordinal encoding que perceba e atribua o mesmo valor para categorias iguais, mas em colunas diferentes. (Fire na coluna Tipo 1 seria a mesam coisa que Fire na coluna Tipo 2.)

# Extrai categorias únicas das duas colunas
todas_categorias = sorted(
    set(novo_dataframe["Type 1"]).union(
        set(novo_dataframe["Type 2"])
    )
)

encoder = OrdinalEncoder(categories=[todas_categorias, todas_categorias])

novo_dataframe[["Type 1", "Type 2"]] = encoder.fit_transform(
    novo_dataframe[["Type 1", "Type 2"]]
)

#encoder.categories_



print(novo_dataframe.head(50))

                         Name  Type 1  Type 2   HP  Attack  Defense  Sp. Atk  \
0                   Bulbasaur     9.0    14.0   45      49       49       65
1                     Ivysaur     9.0    14.0   60      62       63       80
2                    Venusaur     9.0    14.0   80      82       83      100
3       VenusaurMega Venusaur     9.0    14.0   80     100      123      122
4                  Charmander     6.0    12.0   39      52       43       60
5                  Charmeleon     6.0    12.0   58      64       58       80
6                   Charizard     6.0     7.0   78      84       78      109
7   CharizardMega Charizard X     6.0     2.0   78     130      111      130
8   CharizardMega Charizard Y     6.0     7.0   78     104       78      159
9                    Squirtle    18.0    12.0   44      48       65       50
10                  Wartortle    18.0    12.0   59      63       80       65
11                  Blastoise    18.0    12.0   79      83      100       85
12    BlastoiseMega Blastoise    18.0    12.0   79     103      120      135
13                   Caterpie     0.0    12.0   45      30       35       20
14                    Metapod     0.0    12.0   50      20       55       25
15                 Butterfree     0.0     7.0   60      45       50       90
16                     Weedle     0.0    14.0   40      35       30       20
17                     Kakuna     0.0    14.0   45      25       50       25
18                   Beedrill     0.0    14.0   65      90       40       45
19      BeedrillMega Beedrill     0.0    14.0   65     150       40       15
20                     Pidgey    13.0     7.0   40      45       40       35
21                  Pidgeotto    13.0     7.0   63      60       55       50
22                    Pidgeot    13.0     7.0   83      80       75       70
23        PidgeotMega Pidgeot    13.0     7.0   83      80       80      135
24                    Rattata    13.0    12.0   30      56       35       25
25                   Raticate    13.0    12.0   55      81       60       50
26                    Spearow    13.0     7.0   40      60       30       31
27                     Fearow    13.0     7.0   65      90       65       61
28                      Ekans    14.0    12.0   35      60       44       40
29                      Arbok    14.0    12.0   60      85       69       65
30                    Pikachu     3.0    12.0   35      55       40       50
31                     Raichu     3.0    12.0   60      90       55       90
32                  Sandshrew    10.0    12.0   50      75       85       20
33                  Sandslash    10.0    12.0   75     100      110       45
34                   Nidoran♀    14.0    12.0   55      47       52       40
35                   Nidorina    14.0    12.0   70      62       67       55
36                  Nidoqueen    14.0    10.0   90      92       87       75
37                   Nidoran♂    14.0    12.0   46      57       40       40
38                   Nidorino    14.0    12.0   61      72       57       55
39                   Nidoking    14.0    10.0   81     102       77       85
40                   Clefairy     4.0    12.0   70      45       48       60
41                   Clefable     4.0    12.0   95      70       73       95
42                     Vulpix     6.0    12.0   38      41       40       50
43                  Ninetales     6.0    12.0   73      76       75       81
44                 Jigglypuff    13.0     4.0  115      45       20       45
45                 Wigglytuff    13.0     4.0  140      70       45       85
46                      Zubat    14.0     7.0   40      45       35       30
47                     Golbat    14.0     7.0   75      80       70       65
48                     Oddish     9.0    14.0   45      50       55       75
49                      Gloom     9.0    14.0   60      65       70       85

    Sp. Def  Speed  Generation  Legendary
0        65     45           1      False
1        80     60           1      False
2       100     80           1      False
3       120     80           1      False
4        50     65           1      False
5        65     80           1      False
6        85    100           1      False
7        85    100           1      False
8       115    100           1      False
9        64     43           1      False
10       80     58           1      False
11      105     78           1      False
12      115     78           1      False
13       20     45           1      False
14       25     30           1      False
15       80     70           1      False
16       20     50           1      False
17       25     35           1      False
18       80     75           1      False
19       80    145           1      False
20       35     56           1      False
21       50     71           1      False
22       70    101           1      False
23       80    121           1      False
24       35     72           1      False
25       70     97           1      False
26       31     70           1      False
27       61    100           1      False
28       54     55           1      False
29       79     80           1      False
30       50     90           1      False
31       80    110           1      False
32       30     40           1      False
33       55     65           1      False
34       40     41           1      False
35       55     56           1      False
36       85     76           1      False
37       40     50           1      False
38       55     65           1      False
39       75     85           1      False
40       65     35           1      False
41       90     60           1      False
42       65     65           1      False
43      100    100           1      False
44       25     20           1      False
45       50     45           1      False
46       40     55           1      False
47       75     90           1      False
48       65     30           1      False
49       75     40           1      False

In [186]:
# Escalonamento de dados Z-Socre  (Dados que já passaram pelo Encoder NÃO DEVEM SER ESCALONADOS!)

scaler = StandardScaler()

novo_colunas = ['HP','Attack','Defense','Sp. Atk','Sp. Def','Speed']

novo_dataframe[novo_colunas] = scaler.fit_transform(
    novo_dataframe[novo_colunas]
)

print(novo_dataframe.head(50))

                         Name  Type 1  Type 2        HP    Attack   Defense  \
0                   Bulbasaur     9.0    14.0 -0.970484 -0.972927 -0.830806
1                     Ivysaur     9.0    14.0 -0.403078 -0.567802 -0.374807
2                    Venusaur     9.0    14.0  0.353464  0.055468  0.276621
3       VenusaurMega Venusaur     9.0    14.0  0.353464  0.616410  1.579475
4                  Charmander     6.0    12.0 -1.197446 -0.879437 -1.026234
5                  Charmeleon     6.0    12.0 -0.478732 -0.505475 -0.537664
6                   Charizard     6.0     7.0  0.277810  0.117795  0.113764
7   CharizardMega Charizard X     6.0     2.0  0.277810  1.551315  1.188619
8   CharizardMega Charizard Y     6.0     7.0  0.277810  0.741064  0.113764
9                    Squirtle    18.0    12.0 -1.008311 -1.004091 -0.309664
10                  Wartortle    18.0    12.0 -0.440905 -0.536639  0.178906
11                  Blastoise    18.0    12.0  0.315637  0.086631  0.830334
12    BlastoiseMega Blastoise    18.0    12.0  0.315637  0.709901  1.481761
13                   Caterpie     0.0    12.0 -0.970484 -1.565034 -1.286805
14                    Metapod     0.0    12.0 -0.781348 -1.876669 -0.635378
15                 Butterfree     0.0     7.0 -0.403078 -1.097581 -0.798234
16                     Weedle     0.0    14.0 -1.159619 -1.409216 -1.449662
17                     Kakuna     0.0    14.0 -0.970484 -1.720851 -0.798234
18                   Beedrill     0.0    14.0 -0.213942  0.304776 -1.123948
19      BeedrillMega Beedrill     0.0    14.0 -0.213942  2.174585 -1.123948
20                     Pidgey    13.0     7.0 -1.159619 -1.097581 -1.123948
21                  Pidgeotto    13.0     7.0 -0.289596 -0.630129 -0.635378
22                    Pidgeot    13.0     7.0  0.466945 -0.006859  0.016050
23        PidgeotMega Pidgeot    13.0     7.0  0.466945 -0.006859  0.178906
24                    Rattata    13.0    12.0 -1.537890 -0.754783 -1.286805
25                   Raticate    13.0    12.0 -0.592213  0.024304 -0.472521
26                    Spearow    13.0     7.0 -1.159619 -0.630129 -1.449662
27                     Fearow    13.0     7.0 -0.213942  0.304776 -0.309664
28                      Ekans    14.0    12.0 -1.348754 -0.630129 -0.993663
29                      Arbok    14.0    12.0 -0.403078  0.148958 -0.179379
30                    Pikachu     3.0    12.0 -1.348754 -0.785947 -1.123948
31                     Raichu     3.0    12.0 -0.403078  0.304776 -0.635378
32                  Sandshrew    10.0    12.0 -0.781348 -0.162677  0.341763
33                  Sandslash    10.0    12.0  0.164328  0.616410  1.156047
34                   Nidoran♀    14.0    12.0 -0.592213 -1.035254 -0.733092
35                   Nidorina    14.0    12.0 -0.024807 -0.567802 -0.244521
36                  Nidoqueen    14.0    10.0  0.731735  0.367102  0.406906
37                   Nidoran♂    14.0    12.0 -0.932657 -0.723620 -1.123948
38                   Nidorino    14.0    12.0 -0.365251 -0.256167 -0.570235
39                   Nidoking    14.0    10.0  0.391291  0.678737  0.081192
40                   Clefairy     4.0    12.0 -0.024807 -1.097581 -0.863377
41                   Clefable     4.0    12.0  0.920870 -0.318494 -0.049093
42                     Vulpix     6.0    12.0 -1.235273 -1.222235 -1.123948
43                  Ninetales     6.0    12.0  0.088674 -0.131513  0.016050
44                 Jigglypuff    13.0     4.0  1.677411 -1.097581 -1.775375
45                 Wigglytuff    13.0     4.0  2.623088 -0.318494 -0.961091
46                      Zubat    14.0     7.0 -1.159619 -1.097581 -1.286805
47                     Golbat    14.0     7.0  0.164328 -0.006859 -0.146807
48                     Oddish     9.0    14.0 -0.970484 -0.941764 -0.635378
49                      Gloom     9.0    14.0 -0.403078 -0.474312 -0.146807

     Sp. Atk   Sp. Def     Speed  Generation  Legendary
0  -0.245426 -0.256412 -0.807609           1      False
1   0.217526  0.292971 -0.302739           1      False
2   0.834796  1.025480  0.370421           1      False
3   1.513792  1.757990  0.370421           1      False
4  -0.399744 -0.805794 -0.134449           1      False
5   0.217526 -0.256412  0.370421           1      False
6   1.112567  0.476098  1.043581           1      False
7   1.760700  0.476098  1.043581           1      False
8   2.655741  1.574862  1.043581           1      False
9  -0.708379 -0.293037 -0.874925           1      False
10 -0.245426  0.292971 -0.370055           1      False
11  0.371844  1.208608  0.303105           1      False
12  1.915018  1.574862  0.303105           1      False
13 -1.634283 -1.904558 -0.807609           1      False
14 -1.479966 -1.721431 -1.312479           1      False
15  0.526161  0.292971  0.033841           1      False
16 -1.634283 -1.904558 -0.639319           1      False
17 -1.479966 -1.721431 -1.144189           1      False
18 -0.862696  0.292971  0.202131           1      False
19 -1.788601  0.292971  2.558191           1      False
20 -1.171331 -1.355176 -0.437371           1      False
21 -0.708379 -0.805794  0.067499           1      False
22 -0.091109 -0.073284  1.077239           1      False
23  1.915018  0.292971  1.750399           1      False
24 -1.479966 -1.355176  0.101157           1      False
25 -0.708379 -0.073284  0.942607           1      False
26 -1.294785 -1.501678  0.033841           1      False
27 -0.368880 -0.402913  1.043581           1      False
28 -1.017013 -0.659292 -0.471029           1      False
29 -0.245426  0.256345  0.370421           1      False
30 -0.708379 -0.805794  0.707001           1      False
31  0.526161  0.292971  1.380161           1      False
32 -1.634283 -1.538303 -0.975899           1      False
33 -0.862696 -0.622666 -0.134449           1      False
34 -1.017013 -1.172048 -0.942241           1      False
35 -0.554061 -0.622666 -0.437371           1      False
36  0.063209  0.476098  0.235789           1      False
37 -1.017013 -1.172048 -0.639319           1      False
38 -0.554061 -0.622666 -0.134449           1      False
39  0.371844  0.109843  0.538711           1      False
40 -0.399744 -0.256412 -1.144189           1      False
41  0.680478  0.659225 -0.302739           1      False
42 -0.708379 -0.256412 -0.134449           1      False
43  0.248390  1.025480  1.043581           1      False
44 -0.862696 -1.721431 -1.649059           1      False
45  0.371844 -0.805794 -0.807609           1      False
46 -1.325648 -1.172048 -0.471029           1      False
47 -0.245426  0.109843  0.707001           1      False
48  0.063209 -0.256412 -1.312479           1      False
49  0.371844  0.109843 -0.975899           1      False

In [187]:
# Removendo colunas de tipos para testar modelo de cluster sem dados categóricos
novo_dataframe = novo_dataframe.drop(columns=["Type 1","Type 2"], inplace=False)


print(novo_dataframe.head(50))


novo_dataframe.to_csv("pokemon_tratado.csv", index=False)

                         Name        HP    Attack   Defense   Sp. Atk  \
0                   Bulbasaur -0.970484 -0.972927 -0.830806 -0.245426
1                     Ivysaur -0.403078 -0.567802 -0.374807  0.217526
2                    Venusaur  0.353464  0.055468  0.276621  0.834796
3       VenusaurMega Venusaur  0.353464  0.616410  1.579475  1.513792
4                  Charmander -1.197446 -0.879437 -1.026234 -0.399744
5                  Charmeleon -0.478732 -0.505475 -0.537664  0.217526
6                   Charizard  0.277810  0.117795  0.113764  1.112567
7   CharizardMega Charizard X  0.277810  1.551315  1.188619  1.760700
8   CharizardMega Charizard Y  0.277810  0.741064  0.113764  2.655741
9                    Squirtle -1.008311 -1.004091 -0.309664 -0.708379
10                  Wartortle -0.440905 -0.536639  0.178906 -0.245426
11                  Blastoise  0.315637  0.086631  0.830334  0.371844
12    BlastoiseMega Blastoise  0.315637  0.709901  1.481761  1.915018
13                   Caterpie -0.970484 -1.565034 -1.286805 -1.634283
14                    Metapod -0.781348 -1.876669 -0.635378 -1.479966
15                 Butterfree -0.403078 -1.097581 -0.798234  0.526161
16                     Weedle -1.159619 -1.409216 -1.449662 -1.634283
17                     Kakuna -0.970484 -1.720851 -0.798234 -1.479966
18                   Beedrill -0.213942  0.304776 -1.123948 -0.862696
19      BeedrillMega Beedrill -0.213942  2.174585 -1.123948 -1.788601
20                     Pidgey -1.159619 -1.097581 -1.123948 -1.171331
21                  Pidgeotto -0.289596 -0.630129 -0.635378 -0.708379
22                    Pidgeot  0.466945 -0.006859  0.016050 -0.091109
23        PidgeotMega Pidgeot  0.466945 -0.006859  0.178906  1.915018
24                    Rattata -1.537890 -0.754783 -1.286805 -1.479966
25                   Raticate -0.592213  0.024304 -0.472521 -0.708379
26                    Spearow -1.159619 -0.630129 -1.449662 -1.294785
27                     Fearow -0.213942  0.304776 -0.309664 -0.368880
28                      Ekans -1.348754 -0.630129 -0.993663 -1.017013
29                      Arbok -0.403078  0.148958 -0.179379 -0.245426
30                    Pikachu -1.348754 -0.785947 -1.123948 -0.708379
31                     Raichu -0.403078  0.304776 -0.635378  0.526161
32                  Sandshrew -0.781348 -0.162677  0.341763 -1.634283
33                  Sandslash  0.164328  0.616410  1.156047 -0.862696
34                   Nidoran♀ -0.592213 -1.035254 -0.733092 -1.017013
35                   Nidorina -0.024807 -0.567802 -0.244521 -0.554061
36                  Nidoqueen  0.731735  0.367102  0.406906  0.063209
37                   Nidoran♂ -0.932657 -0.723620 -1.123948 -1.017013
38                   Nidorino -0.365251 -0.256167 -0.570235 -0.554061
39                   Nidoking  0.391291  0.678737  0.081192  0.371844
40                   Clefairy -0.024807 -1.097581 -0.863377 -0.399744
41                   Clefable  0.920870 -0.318494 -0.049093  0.680478
42                     Vulpix -1.235273 -1.222235 -1.123948 -0.708379
43                  Ninetales  0.088674 -0.131513  0.016050  0.248390
44                 Jigglypuff  1.677411 -1.097581 -1.775375 -0.862696
45                 Wigglytuff  2.623088 -0.318494 -0.961091  0.371844
46                      Zubat -1.159619 -1.097581 -1.286805 -1.325648
47                     Golbat  0.164328 -0.006859 -0.146807 -0.245426
48                     Oddish -0.970484 -0.941764 -0.635378  0.063209
49                      Gloom -0.403078 -0.474312 -0.146807  0.371844

     Sp. Def     Speed  Generation  Legendary
0  -0.256412 -0.807609           1      False
1   0.292971 -0.302739           1      False
2   1.025480  0.370421           1      False
3   1.757990  0.370421           1      False
4  -0.805794 -0.134449           1      False
5  -0.256412  0.370421           1      False
6   0.476098  1.043581           1      False
7   0.476098  1.043581           1      False
8   1.574862  1.043581           1      False
9  -0.293037 -0.874925           1      False
10  0.292971 -0.370055           1      False
11  1.208608  0.303105           1      False
12  1.574862  0.303105           1      False
13 -1.904558 -0.807609           1      False
14 -1.721431 -1.312479           1      False
15  0.292971  0.033841           1      False
16 -1.904558 -0.639319           1      False
17 -1.721431 -1.144189           1      False
18  0.292971  0.202131           1      False
19  0.292971  2.558191           1      False
20 -1.355176 -0.437371           1      False
21 -0.805794  0.067499           1      False
22 -0.073284  1.077239           1      False
23  0.292971  1.750399           1      False
24 -1.355176  0.101157           1      False
25 -0.073284  0.942607           1      False
26 -1.501678  0.033841           1      False
27 -0.402913  1.043581           1      False
28 -0.659292 -0.471029           1      False
29  0.256345  0.370421           1      False
30 -0.805794  0.707001           1      False
31  0.292971  1.380161           1      False
32 -1.538303 -0.975899           1      False
33 -0.622666 -0.134449           1      False
34 -1.172048 -0.942241           1      False
35 -0.622666 -0.437371           1      False
36  0.476098  0.235789           1      False
37 -1.172048 -0.639319           1      False
38 -0.622666 -0.134449           1      False
39  0.109843  0.538711           1      False
40 -0.256412 -1.144189           1      False
41  0.659225 -0.302739           1      False
42 -0.256412 -0.134449           1      False
43  1.025480  1.043581           1      False
44 -1.721431 -1.649059           1      False
45 -0.805794 -0.807609           1      False
46 -1.172048 -0.471029           1      False
47  0.109843  0.707001           1      False
48 -0.256412 -1.312479           1      False
49  0.109843 -0.975899           1      False

In [188]:
import pandas as pd
from sklearn.metrics import accuracy_score, classification_report

dataframe = pd.read_csv('Pokemon.csv', index_col=0)

# Replaces typos in rows
dataframe['Type 1'].replace('ice','Ice', inplace=True)
dataframe['Type 1'].replace('bug','Bug', inplace=True)
dataframe['Type 2'].replace('ice','Ice', inplace=True)
dataframe['Type 2'].fillna('NoType', inplace=True) # Replaces NaN with 'NoType'

C:\Users\João Vitor\AppData\Local\Temp\ipykernel_8524\3236004210.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Type 1'].replace('ice','Ice', inplace=True)
C:\Users\João Vitor\AppData\Local\Temp\ipykernel_8524\3236004210.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Type 1'].replace('bug','Bug', inplace=True)
C:\Users\João Vitor\AppData\Local\Temp\ipykernel_8524\3236004210.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Type 2'].replace('ice','Ice', inplace=True)
C:\Users\João Vitor\AppData\Local\Temp\ipykernel_8524\3236004210.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataframe['Type 2'].fillna('NoType', inplace=True) # Replaces NaN with 'NoType'

In [189]:
novo_dataframe

,Name,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,-0.970484,-0.972927,-0.830806,-0.245426,-0.256412,-0.807609,1,False
1,Ivysaur,-0.403078,-0.567802,-0.374807,0.217526,0.292971,-0.302739,1,False
2,Venusaur,0.353464,0.055468,0.276621,0.834796,1.025480,0.370421,1,False
3,VenusaurMega Venusaur,0.353464,0.616410,1.579475,1.513792,1.757990,0.370421,1,False
4,Charmander,-1.197446,-0.879437,-1.026234,-0.399744,-0.805794,-0.134449,1,False
...,...,...,...,...,...,...,...,...,...
1099,Raging Bolt,2.055682,-0.225004,0.537191,1.976745,0.622600,0.202131,9,True
1100,Iron Boulder,0.731735,1.239680,0.178906,-0.152836,1.318484,1.851373,9,True
1101,Iron Crown,0.731735,-0.256167,0.830334,1.513792,1.318484,0.976265,9,True
1102,Terapagos,3.379630,0.772228,1.156047,1.760700,1.391735,0.538711,9,True
1103,Pecharunt,0.656080,0.242449,2.784616,0.464434,0.585974,0.639685,9,True

In [190]:
novo_dataframe.to_csv('pokemon_tratado.csv', index=False)